{% extends 'settings/base.html' %}
{% load i18n %}
{% block title %}{% trans "Cats!" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Cats!") %}
{% endblock page_header %}

{% block settings_main %}
<p>Step {{ step }} of {{ step_count }}</p>
<form action="." method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="submit" onclick="history.back(); return false;" value="back">
<input type="submit" value='next'>
</form>
{% endblock %}
